<h1>Demo#hello</h1>
<p>Hello world!</p>

<%= 2 + 3 %>
<br />

<% target = "world" %>
<%= "Hello #{target}" %>
<br />

<% 3.times do %>
	<%= "xxx" %>
<% end %>
<br />

<% @array.each do |n| %>
	<%= n %><br />
<% end %>

<h5>ID: <%= params[:id] %></h5>
<h5>ID: <%= @id %></h5>
<h5>Page: <%= @page %></h5>
<h5>Page: <%= params[:page] %></h5>
<h5>Page: <%= params["page"] %></h5>
<h5>Page: <%= params["page"].next %></h5>
<h5>Page: <%= params["page"].to_i + 1 %></h5>

<hr />
<%= params[:id].inspect %>
